tomli==2.2.1
rich-click==1.8.3
google-auth-oauthlib==1.2.2
chroma-hnswlib==0.7.6
pdfplumber==0.11.5
iniconfig==2.0.0
cachetools==7.0.1
google-auth-httplib2==0.2.0
PySimpleGUI==5.0.6
playwright==1.57.0
kubernetes==32.0.0
Flask-SQLAlchemy==3.1.1
orjson==3.10.15
dataclasses-json==0.6.7
httpx==0.28.1
pytest-repeat==0.9.3
cffi==1.17.1
jupyterlab_widgets==3.0.13
pgvector==0.3.6
nest-asyncio==1.6.0
asgiref==3.8.1
posthog==3.11.0
jsonpatch==1.33
grpcio==1.70.0
jiter==0.8.2
streamlit==1.39.0
pyzmq==26.2.0
markdownify==1.0.0
pyasn1==0.6.0
llama-index-embeddings-openai==0.3.1
faiss-cpu==1.10.0
reacton==1.8.3
cint==1.0.0
nvidia-cublas-cu12==12.4.5.8
ordered-set==4.1.0
httptools==0.6.4
jose==1.0.0
PyPika==0.48.9
pydub==0.25.1
ollama==0.4.7
pyee==13.0.0
absl-py==1.0.0
pytrec_eval-terrier==0.5.7
huggingface-hub==0.34.4
jupyter_client==8.6.3
graphql-core==3.2.7
app==0.0.1
fickling==0.1.8
pyproject_hooks==1.2.0
tqdm==4.67.1
xxhash==3.5.0
elastic-transport==8.17.1
PyYAML==6.0.2
cobble==0.1.4
parso==0.8.4
llama-index-vector-stores-faiss==0.3.0
networkx==3.4.2
typing_extensions==4.15.0
marshmallow==3.26.1
mypy-extensions==1.0.0
rdflib==6.3.2
bert-score==0.3.13
realtime==2.27.2
stripe==12.0.0
appdirs==1.4.4
fastjsonschema==2.20.0
contourpy==1.1.0
bio==1.5.9
pymdown-extensions==10.11.2
opentelemetry-util-http==0.51b0
fastapi==0.115.4
requests-toolbelt==1.0.0
mysql-connector==2.2.9
llama-cloud-services==0.6.0
google-generativeai==0.8.2
google-cloud-firestore==2.20.0
exceptiongroup==1.2.2
llama-index==0.12.16
toml==0.10.2
Flask-Limiter==3.12
websockets==13.1
biopython==1.81
arrow==1.3.0
gprofiler-official==1.0.0
pydantic_core==2.41.5
Werkzeug==2.3.7
opentelemetry-exporter-otlp-proto-common==1.30.0
stack-data==0.6.3
oauthlib==3.2.2
polyfile-weave==0.5.9
opentelemetry-instrumentation-fastapi==0.51b0
sniffio==1.3.1
scikit-learn==1.5.1
StrEnum==0.4.15
packaging==24.2
hyperframe==6.1.0
nvidia-cuda-cupti-cu12==12.4.127
python-pptx==1.0.2
markdown-it-py==3.0.0
mammoth==1.9.0
tokenizers==0.22.0
Flask==2.3.3
comm==0.2.2
mysqlclient==2.1.1
threadpoolctl==3.5.0
striprtf==0.0.26
msal-extensions==1.2.0
scipy==1.11.2
typing-inspection==0.4.2
Markdown==3.7
blinker==1.9.0
requests==2.32.5
wrapt==1.17.2
cookiecutter==2.6.0
pydeck==0.9.1
google-resumable-media==2.7.2
mysql==0.0.3
backoff==2.2.1
supabase-functions==2.27.2
durationpy==0.9
hf-xet==1.1.9
tabulate==0.9.0
nvidia-cuda-nvrtc-cu12==12.4.127
Jinja2==3.1.4
watchdog==5.0.3
asttokens==2.4.1
outcome==1.3.0.post0
python-slugify==8.0.4
platformdirs==3.10.0
langchain==0.3.18
pypdf==5.2.0
firebase-admin==6.6.0
pathvalidate==3.2.3
pyserial==3.5
Mesa-Viz-Tornado==0.1.3
importlib_resources==6.5.2
ipykernel==6.29.5
XlsxWriter==3.2.2
mpmath==1.3.0
enum34==1.1.10
etelemetry==0.3.1
defusedxml==0.7.1
ci-info==0.3.0
watchfiles==0.24.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
google-api-core==2.20.0
Naked==0.1.32
binaryornot==0.4.4
sympy==1.13.1
graphviz==0.21
widgetsnbextension==4.0.13
typer==0.15.1
httpx-sse==0.4.0
websocket-client==1.8.0
multidict==6.1.0
Mesa==2.4.0
jsonpointer==3.0.0
nvidia-cuda-runtime-cu12==12.4.127
nvidia-nvjitlink-cu12==12.4.127
rsa==4.9
SpeechRecognition==3.14.1
aiosignal==1.3.2
torch==2.6.0
uvloop==0.21.0
llama-cloud==0.1.11
PyJWT==2.10.1
requests-oauthlib==2.0.0
Flask-Cors==4.0.0
abnf==2.2.0
trio==0.28.0
cycler==0.11.0
nvidia-curand-cu12==10.3.5.147
traitlets==5.14.3
sortedcontainers==2.4.0
pillow==11.1.0
gitdb==4.0.11
tesseract==0.1.3
nvidia-cufft-cu12==11.2.1.3
llama-index-multi-modal-llms-openai==0.4.3
isodate==0.6.1
pyiceberg==0.10.0
dill==0.3.8
httpcore==1.0.7
urllib3==1.26.20
pypdfium2==4.30.1
aiohttp==3.11.12
kaitaistruct==0.11
typing-inspect==0.9.0
Flask-JWT-Extended==4.7.1
supabase==2.27.2
anyio==4.6.2.post1
pycparser==2.22
datasets==3.3.2
et_xmlfile==2.0.0
llama-index-cli==0.4.0
sentence-transformers==3.4.1
alembic==1.15.2
pytest==8.3.5
selenium==4.28.1
matplotlib-inline==0.1.7
azure-identity==1.20.0
sentry-sdk==2.22.0
importlib_metadata==8.5.0
prompt_toolkit==3.0.48
docker==5.0.0
chromadb==0.6.3
ipython==8.29.0
filetype==1.2.0
nvidia-cudnn-cu12==9.1.0.70
coloredlogs==15.0.1
overrides==7.7.0
postgrest==2.27.2
xlrd==2.0.1
ragas==0.2.14
charset-normalizer==3.4.0
llama-index-readers-llama-parse==0.4.0
text-unidecode==1.3
triton==3.2.0
click==8.1.8
zipp==3.21.0
opencv-python==4.10.0.82
elasticsearch==8.17.2
yarl==1.22.0
greenlet==3.1.1
llama-index-question-gen-openai==0.3.0
safetensors==0.5.2
acres==0.3.0
rpds-py==0.20.0
opentelemetry-api==1.30.0
weave==0.52.28
regex==2024.11.6
pdf2image==1.17.0
opentelemetry-semantic-conventions==0.51b0
SQLAlchemy==2.0.36
pyxnat==1.6.3
shellingham==1.5.4
propcache==0.2.1
markitdown==0.0.1a5
bcrypt==4.2.1
beautifulsoup4==4.13.3
google-cloud-core==2.4.1
solara-server==1.40.0
altair==5.4.1
traits==7.0.2
solara-ui==1.40.0
puremagic==1.28
Pygments==2.18.0
uritemplate==4.1.1
azure-core==1.32.0
tenacity==9.0.0
pyparsing==3.2.3
cryptography==44.0.2
pydot==3.0.4
matplotlib==3.7.2
langchain-openai==0.3.7
PySocks==1.7.1
polars==1.11.0
googleapis-common-protos==1.65.0
tornado==6.4.1
llama-index-indices-managed-llama-cloud==0.6.4
multiprocess==0.70.16
gql==4.0.0
wcwidth==0.2.13
chardet==6.0.0.post1
opentelemetry-instrumentation-asgi==0.51b0
looseversion==1.3.0
opentelemetry-instrumentation==0.51b0
simplejson==3.20.1
pure_eval==0.2.3
humanfriendly==10.0
uuid==1.30
biothings-client==0.3.0
cvzone==1.6.1
wsproto==1.2.0
ipyvue==1.11.1
execnet==2.1.1
nvidia-cusparselt-cu12==0.6.2
certifi==2024.12.14
jsonschema-specifications==2024.10.1
fonttools==4.42.1
h11==0.14.0
llama-parse==0.6.0
psycopg2-binary==2.9.10
shellescape==3.8.1
openpyxl==3.1.5
google-cloud-storage==3.0.0
tzdata==2023.3
pytest-xdist==3.6.1
MarkupSafe==3.0.2
deepeval==2.5.1
limits==5.5.0
nbformat==5.10.4
h2==4.3.0
pydantic-settings==2.7.1
transformers==4.56.1
itsdangerous==2.2.0
google-ai-generativelanguage==0.6.10
react==4.3.0
nvidia-nccl-cu12==2.21.5
python-dateutil==2.8.2
pdfminer.six==20260107
annotated-types==0.7.0
pyasn1_modules==0.4.1
soupsieve==2.6
build==1.2.2.post1
langchain-core==0.3.41
nvidia-nvtx-cu12==12.4.127
narwhals==1.10.0
intervaltree==3.2.1
tiktoken==0.8.0
kiwisolver==1.4.5
pytesseract==0.3.13
nipype==1.10.0
msgpack==1.1.0
ipywidgets==8.1.5
deprecation==2.1.0
patsy==1.0.2
trio-websocket==0.11.1
google-api-python-client==2.167.0
fsspec==2024.12.0
llama-index-llms-openai==0.3.18
msal==1.31.1
wandb==0.25.0
referencing==0.35.1
azure-ai-documentintelligence==1.0.0
gunicorn==21.2.0
mmh3==5.1.0
pyarrow==17.0.0
grpcio-status==1.66.2
pandas==2.3.3
llama-index-agent-openai==0.4.3
crypto==1.4.1
solara==1.40.0
frozenlist==1.5.0
proto-plus==1.24.0
pydantic==2.12.5
google-crc32c==1.6.0
filelock==3.24.3
nibabel==5.3.2
protobuf==5.28.2
rich==13.9.3
opentelemetry-sdk==1.30.0
zstandard==0.23.0
lxml==5.3.1
statsmodels==0.14.6
decorator==5.1.1
youtube-transcript-api==0.6.3
llama-index-core==0.12.16.post1
Deprecated==1.2.18
nltk==3.9.1
pathlib==1.0.1
numpy==1.26.4
supabase-auth==2.27.2
llama-index-embeddings-huggingface==0.5.1
nvidia-cusolver-cu12==11.6.1.9
mdurl==0.1.2
python-dotenv==1.0.0
PyPDF2==3.0.1
hpack==4.1.0
strictyaml==1.7.3
jupyter_core==5.7.2
docx2txt==0.8
attrs==24.2.0
resend==2.19.0
seaborn==0.13.2
uvicorn==0.32.0
google-auth==2.35.0
pooch==1.7.0
langsmith==0.3.7
Flask-Migrate==4.1.0
optional-django==0.3.0
joblib==1.4.2
langchain-text-splitters==0.3.6
storage3==2.27.2
onnxruntime==1.20.1
debugpy==1.8.7
configparser==7.2.0
types-python-dateutil==2.9.0.20241003
langchain-community==0.3.17
configobj==5.0.9
starlette==0.41.0
jedi==0.19.1
humanize==4.11.0
pyroaring==1.0.3
webdriver-manager==4.0.2
executing==2.1.0
opentelemetry-proto==1.30.0
smmap==5.0.1
nvidia-cusparse-cu12==12.3.1.170
jsonschema==4.23.0
openai==1.100.2
fitz==0.0.1.dev2
llama-index-program-openai==0.3.1
diskcache==5.6.3
CacheControl==0.14.2
GitPython==3.1.43
mygene==3.2.2
pluggy==1.5.0
prov==2.0.1
opencv-contrib-python==4.10.0.82
ipyvuetify==1.10.0
portalocker==2.10.1
async-timeout==4.0.3
psutil==6.1.0
dirtyjson==1.0.8
llama-index-readers-file==0.4.4
aiohappyeyeballs==2.4.6
flatbuffers==25.1.24
absl-py==1.0.0
websocket-client==1.6.1
contourpy==1.1.0
bio==1.5.9
packaging==23.1
biopython==1.81
gprofiler-official==1.0.0
platformdirs==3.10.0
cycler==0.11.0
docker==5.0.0
matplotlib==3.7.2
biothings-client==0.3.0
pandas==2.1.0
fonttools==4.42.1
tzdata==2023.3
python-dateutil==2.8.2
kiwisolver==1.4.5
numpy==1.25.2
tqdm==4.66.1
pooch==1.7.0
mygene==3.2.2
chrome-gnome-shell==0.0.0
xdg==5
distro==1.7.0
apturl==0.5.2
usb-creator==0.3.7
macaroonbakery==1.3.1
Pillow==9.0.1
PyJWT==2.3.0
command-not-found==0.3
httplib2==0.20.2
pyparsing==2.4.7
olefile==0.46
wheel==0.37.1
fasteners==0.14.1
idna==3.3
future==0.18.2
reportlab==3.6.8
setuptools==59.6.0
Mako==1.1.3
Brlapi==0.8.3
louis==3.20.0
colorama==0.4.4
ubuntu-drivers-common==0.0.0
lockfile==0.12.2
ufw==0.36.1
pip==22.0.2
wadllib==1.3.6
xkit==0.0.0
pyxdg==0.27
pyRFC3339==1.1
systemd-python==234
importlib-metadata==4.6.4
Pygments==2.11.2
ptyprocess==0.7.0
MarkupSafe==2.0.1
cupshelpers==1.0
certifi==2020.6.20
paramiko==2.9.3
SecretStorage==3.3.1
dbus-python==1.2.18
bcrypt==3.2.0
zipp==1.0.0
keyring==23.5.0
blinker==1.4
click==8.0.3
urllib3==1.26.5
chardet==4.0.0
lazr.uri==1.0.6
distro-info==1.1+ubuntu0.2
unattended-upgrades==0.1
PyNaCl==1.5.0
numpy==1.21.5
python-apt==2.4.0+ubuntu4
pexpect==4.8.0
duplicity==0.8.21
launchpadlib==1.10.16
ubuntu-pro-client==8001
python-debian==0.1.43+ubuntu1.1
monotonic==1.6
pymacaroons==0.13.0
python-dateutil==2.8.1
more-itertools==8.10.0
lazr.restfulclient==0.14.4
defer==1.0.6
language-selector==0.1
requests==2.25.1
pytz==2022.1
jeepney==0.7.1
pycups==2.0.1
cryptography==3.4.8
PyGObject==3.42.1
netifaces==0.11.0
protobuf==3.12.4
oauthlib==3.2.0
PyYAML==5.4.1
pycairo==1.20.1
six==1.16.0
